<html>
  <head>
    <title>An awesome test for Lvl Studio</title>
  </head>
  <body>
    <h1>An awesome test for Lvl Studio</h1>
    <p>Some other lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eget mollis mi. Pellentesque egestas content.</p>
    {{{body}}}
  </body>
</html>
