<div class="dialog-overlay">
  <div class="dialog" id="toggleDialog" role="dialog" aria-labelledby="dialogTitle" aria-describedby="dialogDesc">
    <h2 id="dialogTitle">A great dialog</h2>
    <ul>
      {{#each users}}
      <li>{{this.user.name}}: {{this.averageWordsPerPost}}</li>
      {{/each}}
    </ul>
    <button onclick="toggle()">Close</button>
  </div>
</div>

