body {
  background-color: lightgrey;
}
#toggleDialog {
  display: block;
}

.dialog {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: white;
  opacity: 0.6;
  box-sizing: border-box;
  border: 4px black solid;
  padding: 15px;
  width: 35%;
}

@media screen and (max-width: 400px) {
  .dialog{
    width: 100%;
  }
}
@media screen and (min-width: 400px) {
  .dialog{
    min-width: 400px;
  }
}
